*{
margin: 0;
padding: 0;
}
body {
    background-color: #e1e1e1;
}
.menu {
background-color: #a6a6a6;
padding: 60px;
text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 100px;
    text-align: center;
    font-size: 20px;

}
#my-logo {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
}
.box-left {
    border: 2px solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    width: 500px;
    margin-left: 80px;
    text-align: center;
    float: left;
    margin-top: 20px;
}
.box-right {
    border: 2px solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    width: 500px;
    margin-right: 80px;
    text-align: center;
    float: right;
    margin-top: 20px;
}
#my-pic {
    max-width: 50%;
    padding-left: auto;
    padding-right: auto;
}
#menulogo {
    max-width: 70%;
    position: absolute;
    top: 0;
    left: 0;
}
.menulogo-a {
    position: absolute;
    top: 0;
    left: 0;
}
#coding {
    max-width: 50%;
    padding-left: auto;
    padding-right: auto;
}

#confusedpic {
    max-width: 60%;
}

#highgrades {
    max-width: 60%;
}

#peld {
    max-width: 80%;
}

#friends {
    max-width: 80%;
}

